/* _content/DemoHabitTracker/Shared/MainLayout.razor.rz.scp.css */
#components-layout-demo-top-side .logo[b-1cyqms2v47] {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
}

.site-layout-background[b-1cyqms2v47] {
    background: #fff;
}
.site-calendar-demo-card[b-1cyqms2v47] {
    width: 300px;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
}


.events[b-1cyqms2v47] {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .events .ant-badge-status[b-1cyqms2v47] {
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        text-overflow: ellipsis;
        font-size: 12px;
    }

.notes-month[b-1cyqms2v47] {
    text-align: center;
    font-size: 28px;
}

    .notes-month section[b-1cyqms2v47] {
        font-size: 28px;
    }

    p[b-1cyqms2v47]{
        font-size:large;
    }

