@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<AuthorizeView>
    <Authorized>
        <Layout>
            <Header Class="header">
                <div class="logo" />
                <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal" DefaultSelectedKeys=@(new []{"1"})>
                    <MenuItem OnClick="GoToIndex" Key="1">Today</MenuItem>
                    <MenuItem OnClick="GoToCalendar" Key="2">Calendar</MenuItem>
                    <MenuItem OnClick="GotoReport" Key="3">Report</MenuItem>
                    <LoginDisplay />

                </Menu>
            </Header>
            <Content Style="padding: 0 50px">
                @Body
            </Content>
            <Footer Style="text-align: center; ">Ant Design ©2018 Created by Ant UED</Footer>
        </Layout>
    </Authorized>
    <NotAuthorized>
        <Layout>
            <Header Class="header">
                <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal">
                    <MenuItem  Key="1"><b>HabitTracker</b></MenuItem>
                    <LoginDisplay></LoginDisplay>
                </Menu>
            </Header>
            <Content Style="padding: 0 50px">
                    <h1> HABIT TRACKER</h1>

                    <div class="row">
                        <p> <b>HabitTracker nasce per aiutare gli utenti a costruire abitudini positive e diventare così la versione migliore di se stessi.</b></p>
                    </div>
                    
                    <p>
                        <b>
                            HabitTracker prende tutti i concetti chiave del Habit tracking,
                            pratica molto diffusa in diverse discipline, e li condensa in un unica Web App semplice,
                            gratuita e accessibile da qualunque dispositivo.
                        </b>
                    </p>
                    <br />
                    <br />

                     <p>
                        L'idea del Habit tracking  nasce dal bisogno degli utenti di visualizzare istantaneamente 
                         i loro progressi in attività che invece mostrano i loro risultati sul lungo termine, implementando 
                         così un meccanismo di "Don't Break the chain".
                    </p>
                
            </Content>
        </Layout>
    </NotAuthorized>
</AuthorizeView>

@code
{
    private void OnPanelChange(DateTime value, string mode)
    {
        Console.WriteLine($"{value.ToString("YYYY-MM-DD")} {mode}");
    }

    private void GoToIndex()
    {
        NavigationManager.NavigateTo("/");
    }
    private void GoToCalendar()
    {
        NavigationManager.NavigateTo("/Calendar");
    }
    private void GoToScoreboard()
    {
        NavigationManager.NavigateTo("/Scoreboard");
    }
    private void GotoReport()
    {
        NavigationManager.NavigateTo("/Report");
    }
}
