#components-layout-demo-top-side .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
}

.site-layout-background {
    background: #fff;
}
.site-calendar-demo-card {
    width: 300px;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
}


.events {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .events .ant-badge-status {
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        text-overflow: ellipsis;
        font-size: 12px;
    }

.notes-month {
    text-align: center;
    font-size: 28px;
}

    .notes-month section {
        font-size: 28px;
    }

    p{
        font-size:large;
    }

